html 
    head 
        title= title 
    body 
        ul
            each genre in genres
                li(style="color:dodgerblue;font-size:20px;font-weight:bold;list-style-type:none;")= genre.genre